<!DOCTYPE html>
<html>
 
<head>
    <title>
      HTML input accept attribute
  </title>
    <style>
        body {
            text-align: center;
        }
         
        h1 {
            color: green;
        }
    </style>
</head>
 
<body>
    <h1>GeeksForGeeks</h1>
    <h2>
      HTML <input> accept attribute
  </h2>
    <form action=" ">
        <input type="file"
               name="picture"
               accept="image/*">
       
        <input type="submit">
    </form>
</body>
 
</html>